@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500');

$break-small: 1100px;

body {
    font-size: 14px;
    font-family: "Roboto";
    background: #FAFAFA;
    color: #555;
    padding-bottom: 30px;

    a {
        color: #555;
        text-decoration: none;

        &:hover {
            color: #549EFF;
        }
    }
}

.container {
    width: 90%;
    max-width: 1460px;
    margin: 50px auto 0 auto;
}

h1 {
    font-family: "Roboto Slab";
    font-weight: 100;
    font-size: 2em;
    line-height: 1.75em;
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 8px;
    border-bottom: 3px solid #EEE;
}

h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    line-height: 1.5em;
}

p {
    line-height: 1.5em;
}

ul {
    margin: 0;

    li {
        margin-bottom: 8px;
    }
}

.header {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $break-small) {
        display: block;
        text-align: center;

        .introduction {
            margin-bottom: 20px;
        }
    }

    .introduction {
        line-height: 2.1em;

        em {
            font-style: normal;
            font-weight: 500;
            color: #111;
        }
    }

    .social-icons {

        &:first-child {
            svg {
                margin-left: 0;
            }
        }

        a {
            &:hover {
                svg {
                    fill: #111;
                }
            }
        }

        svg {
            margin-left: 10px;
            width: 26px;
            height: 26px;
            fill: #888;
        }
    }
}

.brief-description {
    margin: 50px 0;

    img {
        float: left;
        display: inline-block;
        margin: 10px 15px 0 0;
    }

    @media screen and (max-width: $break-small) {
        text-align: center;

        img {
            display: none;
        }
    }
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $break-small) {
        display: block;

        .experience,
        .skills,
        .contact-me,
        .articles {
            width: 100%;
            margin: 50px 0 0 0;
        }
    }

    >div {
        flex-grow: 1;
        margin: 0 25px;
        width: 25%;

        &:first-child {
            margin-left: 0;
        }
    }
}

.experience {
    .position {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #DDD;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .role,
    .dates {
        display: inline-block;
    }

    .role {
        font-weight: 500;
    }

    .dates {
        margin-left: 50px;
        color: #AAA;
    }
}

.skills {
    h3 {
        margin-bottom: 10px;
    }

    .tools {
        margin-top: 30px;
    }
}

.contact-me {
    p {
        a {
            font-weight: 500;
        }

        .avatar {
            float: left;
            margin: 0 10px 10px 0;
        }
    }

    .interests {
        margin-top: 40px;
    }
}

.blog-post {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 1px #999;
    margin-bottom: 20px;
    border-radius: 3px;

    header {
        position: relative;
        margin: -20px -20px 20px -20px;

        img {
            width: 100%;
            height: auto;
        }
    }
}
